* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
}

.profile-card {
    max-width: 30rem;
    padding-top: 75px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.profile-header {
    margin-top: -100px;
    position: relative;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 500rem;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Open Sans', 'helvetica', Arial, Helvetica, sans-serif;
}

.profile-role {
    color: gray;
    font-style: italic;
    padding-top: 5px;
}

.profile-bio {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', 'helvetica', Arial, Helvetica, sans-serif;
}

.profile-interests {
    font-size: 14px;
    font-family: 'Open Sans', 'helvetica', Arial, Helvetica, sans-serif;
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-social .social-link {
    margin: 5px;
    font-size: 20px;
}
.profile-social {
    border-top: 1px solid rgba(34, 36, 38, 0.1);
    border-bottom: 1px solid rgba(34, 36, 38, 0.1);
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-link img {
    width: 30px;
}

.blog-button {
    margin-top: 10px;
    background: #fff;
    color: #00000099;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .15)inset;
    font-family: 'Open Sans', 'helvetica', Arial, Helvetica, sans-serif;
    transition: 0.3s;
}
.blog-button:hover {
    transform: scale(1.05);
}
